*{
}
body{
  
  background-color: #23252C;
  color: white;
  margin-left: 25%;
  margin-top: 5%;
}
nav{
  width: 317px;
  height: 300px;
  background-color: black;
  border-top-left-radius: .55em;
  border-top-right-radius: .55em;
  
}
nav > img{
  width: 312px;
  border-top-left-radius: .55em;
  border-top-right-radius: .55em;
  border-color: whitesmoke;
  border-style:ridge;
  border-bottom: none;
}
.main-body{
  background-color: #F5F5F5;
  width: 317px;
  height: 360px;
  color: black;
  font-family: Inter;
  font-style: normal;
}
.main-body-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 5px 5px 5px;
  
}
.main-body-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.main-body-intro-linkedln-button, .main-body-intro-email-button{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 115px;
  height: 34px;
  border-radius: 6px;
  
}
.main-body-intro-linkedln-button{
  background: url(./images/LinkedlnButton.png);
  background-color: #297EE5;
  background-repeat: no-repeat;
  background-position: center;

}
.main-body-intro-email-button{
  background: url(./images/EmailButton.png);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.main-body-intro > h4{
  font-weight: bold;
  font-size: 25px;
  line-height: 30p;
  color: #2B283A;
  margin: 0;
  
}
.main-body-intro > h5{
  color: #F47D27;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}
.main-body-intro > a{
  color: #4A4E74;
  font-size: 10.24px;
  line-height: 150%;
  padding-bottom: 4%;
  padding-top : 1%;
}
.main-about-skills{
  padding: 0px 30px 0px 30px;
  font-family: Inter;
  font-style: normal;
}

.main-about-skills > h4{
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #2B283A;
  margin-bottom: -7px;

}
.main-about-skills >p {
  font-size: 10.24px;
  line-height: 150%;
  color: #4A4E74;
  margin-bottom: -10px;

}
.main-about-skills > ul{
  max-width: 217px;
  font-size: 10.24px;
  line-height: 150%;
  color: #4A4E74;
}
.footer{
  background-color: #D5D4D8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 317px;
  border-bottom-left-radius: .55em;
  border-bottom-right-radius: .55em;
  
}
.footer > a {
  font-size: 35px;
  padding: 5px;
  color: #918E9B;
}